@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

@media screen and (max-width: 600px) {
  * {
    font-size: 20px;
  }
}

/* General*/

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

h3,
h4 {
  color: #252525;
}

/* Main */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  grid-template: 200px 4fr / minmax(300px, 1fr) 5fr;
  grid-template-areas: "main-grid-sidebar main-grid-header" "main-grid-sidebar main-content";
  min-height: 100vh;
  color: #292524;
}
.main-grid-header {
  grid-area: main-grid-header;
  background-color: #4b4b4b;
}
.main-content {
  grid-area: main-content;
  background-color: #e7e5e4;
  overflow: auto;
}
.main-grid-sidebar {
  grid-area: main-grid-sidebar;
  background-color: #2e2e2e;
}

.icon {
  height: 30px;
  width: 30px;
}

/* Sidebar Styles
_____________________________________________ */
.main-grid-sidebar {
  padding-top: 10%;
  color: #fafaf9;
}

.sidebar-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 50px;
}

.sidebar-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  row-gap: 16px;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: larger;
}
.sidebar-content a,
.sidebar-content h1 {
  margin: 0;
  text-align: start;
}
.sidebar-content h1 {
  font-size: 2.5rem;
}
.sidebar-content a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fafaf9;
  padding-top: 5px;
}
.sidebar-content a:hover {
  scale: 1.01;
}
.sidebar-header img {
  width: 70px;
  height: 70px;
}

.sidebar-tools img,
.sidebar-nav img {
    justify-self: center;
}

/* Header Styles
_____________________________________________ */


.main-grid-header {
  display: flex;
  height: 100%;
  align-items: stretch;
  color: #ffffff;
}

.header-content-wrapper {
  width: 100%;
  padding: 10px 40px;
  display: grid;
  grid-template-rows: 0.8fr 1fr;
}

.header-top,
.header-bottom {
  display: grid;
}

.header-top {
  grid-template-columns: 3fr 1fr;
  gap: 125px;
}
.header-top input[type="search"] {
  border: none;
  border-radius: 30px;
  background-color: #e7e5e4;
  padding-left: 10px;
  font-size: 1.1rem;
}
.header-top div {
  display: grid;
}

.header-top-left {
  grid-template-columns: min-content 1fr;
  align-content: center;
  gap: 15px;
}
.header-top-left img {
  justify-self: end;
}

.header-top-right {
  grid-template-columns: 4.5fr 1fr 1.5fr;
  align-content: center;
  justify-items: center;
}
.header-top-right .icon {
  align-self: center;
}

.header-top .user-logo {
  width: 40px;
  height: 60px;
}

.header-bottom {
  grid-template-columns: 1fr 0.6fr;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: min-content 100px;
  gap: 20px;
  align-items: center;
}
.header-bottom-left-child > a,
a:hover,
a:active,
a:visited {
  color: white;
}
.header-bottom-left-child.user-logo {
  width: 90px;
  height: 90px;
}

.hello-text * {
  margin: 0;
  padding: 0;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.header-button {
  border-radius: 30px;
  width: 90%;
  height: 35%;
  border: none;
  background-color: #2e2e2e;
  color: #fafaf9;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.header-button:hover {
  background-color: #252525;
  scale: 1.02;
}

/* Main */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
}
.main-content h3 {
  margin: 32px 0 10px 0;
  padding: 0;
}

.main-content-left,
.main-content-right {
  padding-bottom: 25px;
}
.main-content-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding-left: 2vw;
}

.content-left-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}

.card {
  background-color: #fafaf9;
  border-radius: 9px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.card-content h3,
.card-content p,
.card-content a {
  margin: 0;
  padding: 0;
}

.card-content h3 {
  font-size: 1rem;
}

.card-content p {
  font-size: 0.8em;
}

.card-tools {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.card-tools a:hover {
  scale: 1.03;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7% 5% 3% 5%;
  border-left: 12px solid #4b4b4b;
  background-color: #fafaf9;
}
.main-card img {
  height: 3vh;
  width: 3vh;
}

.main-content-right {
  display: grid;
  grid-template-rows: min-content 3fr min-content 3fr;
  padding-right: 2vw;
}
.main-content-right h4 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 0.8rem;

}
.main-content-right p {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.announcement-card,
.trending-card {
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}
.announcement-card div:nth-child(2) {
  border-bottom: 2px dotted #78716c;
  border-top: 2px dotted #78716c;
}
.announcement-card div {
  margin: 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending-card div div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.trending-card div {
  margin: 0 2vh;
  display: flex;
  align-items: center;
}
.trending-card div img {
  width: 3vw;
  height: 3vw;
}
